@font-face {
    font-family: "OngleleafBuhungSunghwan";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungSunghwan/OngleleafBuhungSunghwan.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungSunghwan/OngleleafBuhungSunghwan.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungSunghwan/OngleleafBuhungSunghwan.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungSunghwan {
    font-family: "OngleleafBuhungSunghwan";
}
